# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
__*
*.o
*.bin
*.com
*.asm
*.txt
*.c
*.s
test.py
screen.py
temp
8080/
.DS_Store
.coverage
.vscode
*.wav
spyce-nvaders/
test_game.py
tests/
daa.py
invaders
game.py
